.new-travel-card {
  margin: 1em;
  padding: 2em 1em;
}

.new-travel-form .form-control {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  font-size: 1.4rem;
  color: rgb(104, 104, 104);
}

.new-travel-form input {
  margin-top: 0.5em;
  padding: 0.4em;
  border: thin solid rgb(170, 170, 170);
  border-radius: 5px;
}

.new-travel-form label {
  text-transform: uppercase;
}

.new-travel-form .add-button {
  display: block;
  margin: 2em auto 0 auto;
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .new-travel-card {
    margin: 1em auto;
    width: 80%;
  }
}

@media (min-width: 768px) {
  .new-travel-card {
    width: 60%;
  }

  .new-travel-form .form-control,
  .new-travel-form input {
    font-size: 1.5rem;
  }

  .new-travel-form input {
    padding: 0.6em;
  }
}

@media (min-width: 1200px) {
  .new-travel-card {
    padding: 2em;
    width: 45%;
  }

  .new-travel-form .form-control,
  .new-travel-form input {
    font-size: 1.7rem;
  }

  .new-travel-form input {
    padding: 0.7em;
  }
}

@media (min-width: 1400px) {
  .new-travel-card {
    padding: 3em;
    width: 40%;
    max-width: 800px;
  }
}
