.travels {
  margin: 0 auto;
  padding: 1em;
  width: 100%;
}

@media (min-width: 576px) {
  .travels {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .travels {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .travels {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .travels {
    width: 40%;
  }
}
